logging = 'info'
debug = False

#user = 'www-data'
#group = 'www-data'

#static_path = './static/wwpass/'
#dowloads_path = './downloads/'

# Text in the page title
# title = 'WWPass'


bind = 'localhost'
port = 9061
base_url = 'https://vpn.example.com/'

gluu_url= 'https://gluu.example.com/'

anyconnect_host = 'asa.example.com'
anyconnect_group = 'SSLVPN'

wwpass_connector_link = '/downloads/WWPass%20Connector%20for%20VPN.msi'
anyconnect_link = '/downloads/anyconnect-win-4.7.04056-core-vpn-predeploy-k9.msi'


oauth2_id = ''
oauth2_secret = ''

# VPN profiles and LDAP Group DNs that allow them

profiles = {
    'adminVPN': {
        'handler':'anyconnect',
        'host':'asa.example.com',
        'vpngroup': 'SSLVPN',
        'groups_allowed':'CN=VPNAdmin,OU=Security,OU=Groups,OU=Office,DC=example,DC=com',
        }
    'userVPN': {
        'handler':'anyconnect',
        'host':'vpn.example.com',
        'vpngroup': 'SSLVPN',
        'groups_allowed':'inum=1a8337c6-2e31-433d-8aca-0c28ade3f945,ou=groups,o=gluu',
        'check_url':'https://internal.resource.int/' # Reacheability of this server will be checked in browser to display VPN status (connected or not) HTTPS is required
    }
    'commonVPN': {
        'handler': 'openvpn',
        'config_name': 'exapmlevpn',
        'vpngroup': 'OpenVpn',
        'groups_allowed':'', # Available to all users
    }
}

# default_username = 'wwpassuser'