<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href={{ static_url("img/favicon.ico") }} type="image/x-icon">
  <link rel="stylesheet" href={{ static_url("stylesheet/style.min.css") }}>
  <link rel="preload" href={{ static_url("img/gluu-button-ios-action.svg") }} as="image">
  <link rel="preload" href={{ static_url("img/gluu-button-android-action.svg") }} as="image">
  <title>{{ options.title }} VPN</title>
</head>

<body class="pageBody">
  <main class="pageMain">
    <div class="content">
      <div class="content__element content__element--first content--center  content--narrow">
        <div class="logo">

        </div>
        <div class="hr"></div>

        <ul class="indicators"></ul>

        <div class="before_connect">
          {% if available_profiles %}
            <!-- <p class="text">
              <b>Authentication successful</b>
            </p> -->
            {% if len(available_profiles) > 1 %}
            <div class="form">
              <label class="form__label form__label--big" for="profile_selector">Choose VPN profile:</label>
              <select class="form__input form__input--select" id="profile_selector" name="profile">
                {% for name,profile in available_profiles.items() %}
                <option value="{{ name }}">
                  {{ name }}
                </option>
                {% end %}
              </select>
            </div>
            {% else %}
            <input type="hidden" id="profile_selector" name="profile" value="{{ next(iter(available_profiles.keys())) }}">
            {% end %}
            <p class="text">Press the button below to connect VPN. Your authentication is valid until the timer runs out.</p>
            <button class="button button--action" id="connect">
              Connect VPN
            </button>
            <p class="text">
              Authorization is valid for:<br>
              <span class="button__timer">
                <!-- 60
                <div class="button__timerAnimation"></div> -->
              </span>
            </p>
          {% else %}
            <p class="text">
              You are not allowed to access VPN
            </p>
          {% end %}

        </div>
        <div class="after_connect" style="display: none;">
          <h2 class="heading heading--h2 heading--light heading--marginBottom-0">Connecting VPN</h2>
          <p class="text" id="connect_text">
            VPN client will start automatically.
          </p>
          <a class="button button--action" href="">Reconnect VPN</a>
        </div>
        <div class="timeout_connect" style="display: none;">
          <p class="text">
            Your current connection timed out.
            <a class="button button--action" href="#" id="reload">
              Reload page
            </a>
          </p>
        </div>
        <div class="hr"></div>
        <div id="mobile_advice" class="text text--sm" style="display: none;">
          <p class="text text--sm">Make sure that AnyConnect application is installed.</p>
          <a class="button button--store button--store-ios"
            href="https://apps.apple.com/ru/app/cisco-anyconnect/id1135064690">AppStore</a>
          <a class="button button--store button--store-google"
            href="https://play.google.com/store/apps/details?id=com.cisco.anyconnect.vpn.android.avf">Google Play</a>
          <p class="text text--sm">If Cisco AnyConnect does not start, make sure that "External Control" is enabled in
            AnyConnect settings.</p>
        </div>
        <div id="desktop_advice" class="text text--sm" style="display: none;">
          <p class="text text--sm">
            If Cisco AnyConnect does not start, make sure WWPass Connector app is installed.
          </p>
          <p class="text text--sm">
            {% if options.anyconnect_link %}
            <a class="text text--sm text--link" href="{{ options.anyconnect_link }}">AnyConnect VPN client for&nbsp;Windows</a>
            {% end %}
            {% if options.wwpass_connector_link %}
            <a class="text text--sm text--link" href="{{ options.wwpass_connector_link }}">WWPass connector application for&nbsp;Windows</a>
            {% end %}
          </p>
        </div>
      </div>
    </div>

  </main>
  <footer class="pageFooter">
    <ul class="pageFooter__nav">
      <li class="pageFooter__item"><span class="text text--sm">© WWPASS</span></li>
    </ul>
  </footer>

  <script type="text/javascript">
    window.history.replaceState({}, document.title, document.location.pathname);

    var isMobile = function isMobile() {
      return navigator && `userAgent` in navigator && navigator.userAgent.match(/iPhone|iPod|iPad|Android/i);
    };
    const content = document.querySelector(`.content`);
    const mobile = content.querySelector(`#mobile_advice`);
    const desktop = content.querySelector(`#desktop_advice`);
    const beforeConnect = content.querySelector(`.before_connect`);
    const afterConnect = content.querySelector(`.after_connect`);
    const timeoutConnect = content.querySelector(`.timeout_connect`);
    const buttonReload = content.querySelector(`#reload`);
    const profileSelector = content.querySelector(`#profile_selector`);
    const buttonConnect = content.querySelector(`#connect`);
    const buttonTimer = content.querySelector(`.button__timer`);
    const indicators = document.querySelector(`.indicators`);
    const profiles = JSON.parse('{{ json_encode(available_profiles) }}');

    document.addEventListener(`DOMContentLoaded`, () => {
      if (isMobile()) {
        mobile.style.display = `block`;
      } else {
        desktop.style.display = `block`;
      }
      const last_profile = localStorage.getItem(`last_profile`);
      if (last_profile != null && profiles[last_profile] != undefined) {
          profileSelector.value = last_profile;
      }
      for (name in profiles) {
        const profile = profiles[name];
        if (profile.check_url) {
          const indicator = document.createElement(`li`);
          indicator.id = `indicator_${name}`;
          indicator.classList.add(`indicators__indicator`);

          const statusElement = ``;
          
          testConnection(profile.check_url, (status) => {
            if (status) {
              indicator.classList.add(`indicators__indicator--connected`);
              statusElement = `
              <span class="indicators__status indicators__status--connected">Connected</>`;
            } else {
              indicator.classList.add(`indicators__indicator--disconnected`);
              statusElement = `
              <span class="indicators__status indicators__status--disconnected">Disconnected</>`;
            }
          });

          indicator.innerHTML = `${name}: ${statusElement}`;

          indicators.appendChild(indicator);
        }
      }
    });

    const setButtonTimer = (seconds) => {
      buttonTimer.innerHTML = `
        ${seconds}
        <span class="button__timerAnimation"></span>`;
    };

    let delay = {{ nonce_ttl }};
    setButtonTimer(delay);

    const delayUpdate = setInterval(() => {
      delay -= 1;
      setButtonTimer(delay);
    }, 1000);
    window.setTimeout(() => { clearInterval(delayUpdate) }, delay * 1000);

    const timeoutConnectUpdate = setTimeout(() => {
      beforeConnect.style.display = `none`;
      timeoutConnect.style.display = `block`;
    }, delay * 1000);

    buttonConnect.addEventListener(`click`, () => {
      clearInterval(delayUpdate);
      clearTimeout(timeoutConnectUpdate);
      const profile = profileSelector.value;
      console.log(`Profile chosen: ${profile}`);
      if (profile === null || profile === ``) {
        return false;
      }
      localStorage.setItem(`last_profile`, profile);
      var vpn_url = profiles[profile].url;
      console.log(`Redirect to: ${vpn_url}`);
      window.open(vpn_url, `_blank`);
      beforeConnect.style.display = `none`;
      afterConnect.style.display = `block`;
      return false;
    });

    buttonReload.addEventListener(`click`, () => {
      location.reload();
    });

    const testConnection = (resource, callback) => {
      let state  = 0; // Indeterminate state
      let controller = null;
      const newStatus = (st) => {
        if (st) {
          if (state != 1) {
              state = 1;
              callback(true);
            }
        } else {
          if (state != -1) {
            state = -1;
            callback(false);
          }
        }
      }
      const tryFetch = () => {
        if (controller !== null)
          controller.abort()
        controller = new AbortController();
        fetch(resource, {
          cache: 'no-store',
          mode: 'no-cors',
          referrerPolicy: 'no-referrer',
          signal: controller.signal
        }).then((response) => {
          if (response.status < 400) {
            newStatus(true);
          } else {
            newStatus(false);
          }
        }, () => {
          newStatus(false);
        })
      };
      tryFetch();
      const id = setInterval(tryFetch, 1000);
      return id;
    }
  </script>
</body>

</html>