<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href={{ static_url("img/favicon.ico") }} type="image/x-icon">
  <link rel="stylesheet" href={{ static_url("stylesheet/style.min.css") }}>
  <title>{{ options.title }}</title>
</head>

<body class="pageBody">
  <header class="pageHeader">
    <nav class="mainNav">
      <ul class="mainNav__list">
        <li class="mainNav__item">
          <div class="logo"></div>
        </li>
        <li class="mainNav__item mainNav__item--flex-column mainNav__item--user">
          <div class="user">
            <img class="user__icon" src="{{ static_url("img/icon-2-dev-avatar.svg") }}" alt="" class="user__icon">
            <div class="user__name">{{ userinfo['name'] }}</div>
            <div class="user__popup">
              <div class="user__popup-header">
                <div class="user__popup-name">{{ userinfo['name'] }}</div>
                <div class="user__popup-close">
                  <img class="img img--close" src="{{ static_url("img/icon-close.svg") }}" alt="" style="width: 20px; height: 20px;">
                </div>
              </div>
              <a href="#TODO" class="user__popup-profile">Profile</a>
              <a href="#TODO" class="user__popup-logout">Log Out</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </header>

  <main class="pageMain">
    <div class="apps">
      <ul class="apps__list">
        {% for service in services %}
        <li class="apps__item">
          <a href="{{ service['url'] }}" class="apps__link">
            <div class="apps__icon">
              <img class="img img--apps" src="{{ service['logo'] }}" alt="">
            </div>
            <div class="hr apps__hr"></div>
            <p class="text apps__tag">{{ service['title'] }}</p>
          </a>
        </li>
        {% end %}
      </ul>
    </div>
  </main>
  <footer class="pageFooter">
    <ul class="pageFooter__nav">
      <li class="pageFooter__item"><span class="text text--sm">© WWPASS</span></li>
    </ul>
  </footer>

  <script type="text/javascript">
    window.history.replaceState({}, document.title, document.location.pathname);
  </script>
  <script src="{{ static_url("js/user/user.js") }}"></script>
</body>

</html>