<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href={{ static_url("img/favicon.ico") }} type="image/x-icon">
  <link rel="stylesheet" href={{ static_url("stylesheet/style.min.css") }}>
  <link rel="preload" href={{ static_url("img/gluu-button-ios-action.svg") }} as="image">
  <link rel="preload" href={{ static_url("img/gluu-button-android-action.svg") }} as="image">
  <title>{{ options.title }}</title>
</head>

<body class="pageBody">
  <main class="pageMain">
    <div class="content">
      <div class="content__element content__element--first content--center  content--narrow">
        <div class="logo"></div>
        <div>{{ userinfo['name'] }}</div>
        <div class="hr"></div>
        {% for service in services %}
            <div style="float: left;">
                <a href="{{ service['url'] }}">
                    {{ service['title'] }}<br/>
                    <img src="{{ service['logo'] }}">
                </a>
            </div>
        {% end %}
    </div>
  </main>
  <footer class="pageFooter">
    <ul class="pageFooter__nav">
      <li class="pageFooter__item"><span class="text text--sm">© WWPASS</span></li>
    </ul>
  </footer>

  <script type="text/javascript">
    window.history.replaceState({}, document.title, document.location.pathname);
  </script>
</body>

</html>