logging = 'info'
debug = False

#user = 'www-data'
#group = 'www-data'

bind = 'localhost'
port = 9061
base_url = 'https://vpn.example.com/'

gluu_url= 'https://gluu.example.com/'

anyconnect_host = 'asa.example.com'
anyconnect_group = 'SSLVPN'
wwpass_connector_link = '/downloads/WWPass%20Connector%20for%20Cisco%20AnyConnect.msi'

oauth2_id = ''
oauth2_secret = ''