logging = 'info'
debug = False

#user = 'www-data'
#group = 'www-data'

bind = 'localhost'
port = 9061

gluu_url = 'https://gluu.example.com/'

api_key = '<base64_of_api_key>'

wwpass_client_cert = '/opt/gluu-server/opt/wwpass/gluu_client.crt'
wwpass_client_key = '/opt/gluu-server/opt/wwpass/gluu_client.key'

uma2_id = 'xxxx-xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
uma2_kid = 'xxxx-xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx_sig_rs256'
uma2_secret = '''-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----
'''